body{
    font: 1em;
    padding: 0;
    margin: 0;
}
/* header-main{
    padding-top: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: chocolate;
} */

.header-main{
    height: 75px;
    width: 100%;
    color: white;
    background: teal;
    font-weight: bold;
    align-items: center;
    vertical-align: middle;
}

.header-main.menubar{
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 65%;
    display: table;
    text-align: center;
    float: left;
}

.header-main.loginbar{
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 25%;
    display: table;
    text-align: center;
    float: left;
}

.header-main.menubar.logo{
    width: 10%;
    float: left;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* float: left; */
}

.header-main.menubar.reseracher{
    width: 10%;
    float: left;
    /* padding-left: 10px;
    padding-right: 30px; */
    /* float: left; */
}
.header-main.menubar.course{
    width: 10%;
    float: left;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* float: left; */
}
.header-main.menubar.Alumni{
    width: 10%;
    float: left;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* float: left; */
}
.header-main.menubar.Review{
    width: 10%;
    float: left;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* float: left; */
}
.header-main.menubar.FAQ{
    width: 10%;
    float: left;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* float: left; */
}
.header-main.loginbar.login{
    width: 45%;
    float: left;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* float: left; */
}
.header-main.loginbar.join{
    width: 45%;
    float: left;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* float: left; */
}

main{
    background-color: cornflowerblue;    
    font-size: 20px;
}
.content1.slogan1{
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 50px;
    background-color: saddlebrown;
}
.content1.slogan2{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    font-size: 20px;
    background-color: yellowgreen;
}
.content1.slogan2.join_button{
    position: center;
}
button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
button:hover{
background:#fff;
color:#1AAB8A;
}
button:before,button:after{
content:'';
position:absolute;
top:0;
right:0;
height:2px;
width:0;
background: #1AAB8A;
transition:400ms ease all;
}
button:after{
right:inherit;
top:inherit;
left:0;
bottom:0;
}
button:hover:before,button:hover:after{
width:100%;
transition:800ms ease all;
}
.content2{
    text-align: center;
    text-emphasis: none;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.content2.curiculumn-topic{
    font-size: 25px;
    padding: 1.25%;
}

.content2.curiculumn-summary{
    font-size: 20px;
    padding-left: 25%;
    padding-right: 25%;
}
footer{
    background-color: olive;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 5%;
    padding-bottom: 5%;
}